<div class="container" *ngIf="(activity$ | async) as activity; else loadingActivity">
  <h2 class="activity-field act-name">{{activity.name}}</h2>
  <div class="activity-field">{{activity.date | date:'dd/MM/yy'}}, om {{activity.date | date:'H:mm'}}</div>
  <div class="activity-field" *ngIf="activity.location">Bij {{activity.owner}}, {{activity.location}}</div>
  <div class="activity-field" *ngIf="!activity.location">Nog geen locatie bekend</div>
  <div class="activity-field activity-description mb-4">{{activity.description}}</div>

  <button type="button" class="btn btn-dark" (click)="toggleAanwezigheid(activity)">
    {{getAanwezigheidsString(activity)}}
  </button>
  <button class="btn btn-dark" *ngIf="canEdit(activity.creator)" routerLink="/edit/{{activity.id}}" type="button">Aanpassen</button>

  <div class="activity-field activity-attendees">
    <p class="mb-1">Aanwezigen:</p>
      <span *ngFor="let attendee of activity.attendees">{{attendee}}</span>
  </div>
</div>

<ng-template #loadingActivity>
  Loading...
</ng-template>
